<!DOCTYPE HTML>
{% include 'header.html' %}

<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">

        <h2 style='width:100%; text-align:center' class='elexhdd' id="top"><strong>Baseball 2018</strong></h2>
            <h2 style='width:100%; text-align:center' class=' titlesmall'>Cubs</h2>
       <p style='width:100%; text-align:center'><i>A little-more-than-casual but not-very-wonky statistical look at the current season</i></p>
            <hr class='fancy'>
            <div class="row">
                <div class="col-xs-3" style='text-align:center'><a href="index.html"><strong style='color:#FF9C00'>League</strong></div>
                <div class="col-xs-3" style='text-align:center'><a href="sox.html"><strong style='color:#FF9C00'>Sox</a></strong></div>
                <div class="col-xs-3" style='text-align:center'>Cubs</div>
                <div class="col-xs-3" style='text-align:center'><a href="h2h.html"><strong style='color:#FF9C00'>H2H</strong></a></div>
            </div>
            <hr class='fancy'>
            <br>
            <p style='width:100%; text-align:center' ><strong>Updated {{timestamp}}</strong></p>
            <br>
        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="games"><strong>Games</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#batters"><strong style='color:#FF9C00'>BATTERS</strong></a> | <a href="#pitchers"><strong style='color:#FF9C00'>PITCHERS</strong></a></small><p>
        <p><strong>On {{ nl[0].Date }},</strong> the Cubs {% if nl[0].WL == 'W' %}won{% elif nl[0].WL == 'W-wo' %}won in a walk-off{% elif nl[0].WL == 'L' %}lost{% elif nl[0].WL == 'L-wo' %}lost in a walk off{% endif %} a {% if nl[0].DN == 'D' %}day{% else %}night{% endif %} {% if nl[0].Home_Away == '@' %}away{% else %}home{% endif %} game against the {{ nl[0].Team }}, {{ nl[0].R }} to {{ nl[0].RA }}, in {{ nl[0].Inn }} innings. The winning pitcher was {{ nl[0].Win }}, losing pitcher was {{ nl[0].Loss }}. Save: {{ nl[0].Save }}. <strong>Next scheduled game:</strong> {{ nl[1].Date }}, a {% if nl[1].DN == 'D' %}day{% else %}night{% endif %} {% if nl[1].Home_Away == '@' %}away{% else %}home{% endif %} game with the {{ nl[1].Team }}.</p>
        <br>
        <h3 style='width:100%; text-align:center'>Summary results by team</h3>
        <br>
        <table class='table table-condensed elex'>
            <thead>
            <th style="text-align:left">Team</th><th>Wins</th><th>Loses</th><th>Avg. Cubs runs</th><th>Avg. runs against</th>
        </thead><tbody>
            {% for team in agg|sort(attribute='Team') %}
                    <tr>
                        <td style="text-align:left">{{ team.Team }}</td>
                        <td>{{ team.Wins }}</td>
                        <td>{{ team.Loses }}</td>
                        <td>{{ team.AvgRuns }}</td>
                        <td>{{ team.AvgRunsAg }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        <!-- End games, start batting stats -->
        <div class="row">
        <div class="col-md-6">

        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="batters"><strong>Batters</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#games"><strong style='color:#FF9C00'>GAMES</strong></a> | <a href="#pitchers"><strong style='color:#FF9C00'>PITCHERS</strong></a></small><p>

        <div class="panel-group" id="hitaccordion" role="tablist" aria-multiselectable="true">

        {% for name in hit|sort(attribute='last') %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="{{ name.last }}{{ name.R }}{{ name.H }}">
              <h4 class="panel-title">
                <strong>{{ name.Name }}</strong> <small>#{{ name.posnum }}, {{ name.position }}</small>
              </h4>
              <p>Batting average: {{ name.AVG }} | <a class="collapsed" role="button" data-toggle="collapse" data-parent="#hitaccordion" href="#collapse{{ name.last }}{{ name.R }}{{ name.H }}" aria-expanded="false" aria-controls="collapse{{ name.last }}{{ name.R }}{{ name.H }}"><small>CLICK HERE FOR MORE</small></a></p>

            </div>
            <div id="collapse{{ name.last }}{{ name.R }}{{ name.H }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ name.last }}{{ name.R }}{{ name.H }}">
              <div class="panel-body">
                <table class='table table table-condensed table-striped'>
                    <tbody>
                        <tr><td class='tdLEFT'>At bats</td><td>{{ name.AB }}</td></tr>
                        <tr><td class='tdLEFT'>Runs</td><td>{{ name.R }}</td></tr>
                        <tr><td class='tdLEFT'>Hits</td><td>{{ name.H }}</td></tr>
                        <tr><td class='tdLEFT'>Doubles</td><td>{{ name.dbls }}</td></tr>
                        <tr><td class='tdLEFT'>Triples</td><td>{{ name.trps }}</td></tr>
                        <tr><td class='tdLEFT'>Home runs</td><td>{{ name.HR }}</td></tr>
                        <tr><td class='tdLEFT'>RBI</td><td>{{ name.RBI }}</td></tr>
                        <tr><td class='tdLEFT'>Base on balls</td><td>{{ name.BB }}</td></tr>
                        <tr><td class='tdLEFT'>Strike outs</td><td>{{ name.SO }}</td></tr>
                        <tr><td class='tdLEFT'>% SO</td><td>{{ name.SOperc }}%</td></tr>
                        <tr><td class='tdLEFT'>Stolen bases</td><td>{{ name.SB }}</td></tr>
                        <tr><td class='tdLEFT'>Caught stealing</td><td>{{ name.CS }}</td></tr>
                        <tr><td class='tdLEFT'>On-base percent</td><td>{{ name.OBP }}</td></tr>
                        <tr><td class='tdLEFT'>Weighted OBP</td><td>{{ name.wOBA }}</td></tr>
                        <tr><td class='tdLEFT'>Slugging %</td><td>{{ name.SLG }}</td></tr>
                        <tr><td class='tdLEFT'>Weighted runs above avg.</td><td>{{ name.wRAA }}</td></tr>
                        <tr><td class='tdLEFT'>Runs Above Replacement</td><td>{{ name.RAR }}</td></tr>
                        <tr><td class='tdLEFT'>WAR</td><td>{{ name.WAR }}</td></tr>
                        <tr><td class='tdLEFT'>Fielding %</td><td>{{ name.Fld }}</td></tr>
                    </tbody>
                </table>

              </div>
            </div>
          </div>

        {% endfor %}
        </div>
        <br>

        <!-- End battingstats, start pitching stats -->
        </div>
        <div class="col-md-6">

        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="pitchers"><strong>Pitchers</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#games"><strong style='color:#FF9C00'>GAMES</strong></a> | <a href="#batters"><strong style='color:#FF9C00'>BATTERS</strong></a></small><p>
        <p>Season pitching stats.</p>
    </div>
</div>


        </div>
    </div>
</div>

<br><br>
<script>
$.ajaxSetup({ cache: false});
</script>

{% include 'footer.html' %}
