<!DOCTYPE HTML>
{% include 'header.html' %}

<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">

        <h2 style='width:100%; text-align:center' class='elexhdd' id="top"><strong>Baseball 2018</strong></h2>
            <h2 style='width:100%; text-align:center' class=' titlesmall'>Cubs</h2>
       <p style='width:100%; text-align:center'><i>A little-more-than-casual but not-very-wonky statistical look at the current season</i></p>
            <hr class='fancy'>
            <div class="row">
                <div class="col-xs-3" style='text-align:center'><a href="index.html"><strong style='color:#FF9C00'>League</strong></div>
                <div class="col-xs-3" style='text-align:center'><a href="sox.html"><strong style='color:#FF9C00'>Sox</a></strong></div>
                <div class="col-xs-3" style='text-align:center'>Cubs</div>
                <div class="col-xs-3" style='text-align:center'><a href="h2h.html"><strong style='color:#FF9C00'>H2H</strong></a></div>
            </div>
            <hr class='fancy'>
            <br>
            <p style='width:100%; text-align:center' ><strong>Updated {{timestamp}}</strong></p>
            <br>
        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="games"><strong>Games</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#batters"><strong style='color:#FF9C00'>BATTERS</strong></a> | <a href="#PITCHERS"><strong style='color:#FF9C00'>PITCHERS</strong></a></small><p>
        <p><strong>On {{ nl[0].Date }},</strong> the Cubs {% if nl[0].WL == 'W' %}won{% else %}lost{% endif %} a {% if nl[0].DN == 'D' %}day{% else %}night{% endif %} {% if nl[0].Home_Away == '@' %}away{% else %}home{% endif %} game against the {{ nl[0].Team }}, {{ nl[0].R }} to {{ nl[0].RA }}, in {{ nl[0].Inn }} innings. <strong>Next scheduled game:</strong> {{ nl[1].Date }}, a {% if nl[1].DN == 'D' %}day{% else %}night{% endif %} {% if nl[1].Home_Away == '@' %}away{% else %}home{% endif %} game with the {{ nl[1].Team }}.</p>
        <br>
        <h3 style='width:100%; text-align:center'>Summary results by team</h3>
        <br>
        <table class='table table-condensed elex'>
            <thead>
            <th style="text-align:left">Team</th><th>Wins</th><th>Loses</th><th>Avg. Cubs runs</th><th>Avg. runs against</th>
        </thead><tbody>
            {% for team in agg %}
                    <tr>
                        <td style="text-align:left">{{ team.Team }}</td>
                        <td>{{ team.Wins }}</td>
                        <td>{{ team.Loses }}</td>
                        <td>{{ team.AvgRuns }}</td>
                        <td>{{ team.AvgRunsAg }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

            <br>
        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="batters"><strong>Batters</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#games"><strong style='color:#FF9C00'>GAMES</strong></a> | <a href="#pitchers"><strong style='color:#FF9C00'>PITCHERS</strong></a></small><p>
        <p>Season batting stats.</p>

            <br>
        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="pitchers"><strong>Pitchers</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#games"><strong style='color:#FF9C00'>GAMES</strong></a> | <a href="#batters"><strong style='color:#FF9C00'>BATTERS</strong></a></small><p>
        <p>Season pitching stats.</p>


    </div>
    </div>
</div>

<br><br>
<script>
$.ajaxSetup({ cache: false});
</script>

{% include 'footer.html' %}
