
<div id="creditBox">
  <div class="row">
    <div class="col-md-10 center-block center-blockfloat">
      <p><small>Web app by Tim Broderick | <a href="mailto:aabroder@gmail.com"><i>email</i></a>.<br>
      	I'm following the baseball season by developing this app, written in python/flask and utilizing the <a href ="https://github.com/jldbc/pybaseball" target="_blank">pybaseball</a> package by James LeDoux. The goal is to learn more python and baseball statistics as I gradually add features and content. All my code so far can be <a href="https://github.com/timbroderick/pybaseball" target="_blank">found here.</a><br>
      	Cool little timestamp function courtesy of <a href="https://www.palmbeachpost.com/online/contacts/mike-stucka/FjphMq55qdlRspL3H7GKoM/" target="_blank">Mike Stucka</a> of the Palm Beach Post. Thanks Mike!<br>
      </small></p>
    </div>
  </div>
</div>
<div style="background-color:#FF9C00; height:10px; width:100%; margin:0; padding:0;"></div>

<script>
$.ajaxSetup({ cache: false});
$('#hard').click(function(){
  location.reload(true)
});
</script>

</body>
</html>
