<!DOCTYPE HTML>
{% include 'header.html' %}

<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">

        <h2 style='width:100%; text-align:center' class='elexhdd' id="top"><strong>Chicago baseball</strong></h2>
            <h2 style='width:100%; text-align:center' class=' titlesmall'>head 2 head</h2>
       <p style='width:100%; text-align:center'><i>A little-more-than-casual but not-very-wonky statistical look at the current season</i></p>
            <hr class='fancy'>
            <div class="row">
                <div class="col-xs-3" style='text-align:center'><a href="index.html"><strong style='color:#FF9C00'>League</strong></div>
                <div class="col-xs-3" style='text-align:center'><a href="sox.html"><strong style='color:#FF9C00'>Sox</strong></a></div>
                <div class="col-xs-3" style='text-align:center'><a href="cubs.html"><strong style='color:#FF9C00'>Cubs</strong></a></div>
                <div class="col-xs-3" style='text-align:center'>H2H</div>
            </div>
            <hr class='fancy'>
            <br>
            <p><strong>Updated {{timestamp}}</strong><br>
                The charts below look at how players are performing according to different measures. For each measure there's a plot for the Sox side-by-side with the Cubs, allowing us to compare the teams by themselves and with each other.<br>
                I've opted to do a bit more than just violin plots - I'm combining violin plots, box-and-whisker plots and swarm charts.<br>
                <strong>The olive lines are the box-and-whiskers plot</strong>, otherwise known as a box plot. Excluding outliers, this chart divides up all the values into quartiles, with the box showing the middle two quartiles. So the box should roughly show where 50% of the values lie, with the line inside the box being the median value. Outliers are anything that fall beyond the "whiskers," or the lines shooting out left and right of the box.<br>
                <strong>Sitting atop that is the violin plot.</strong> It's the color area where the width represents the number of values that fall along the horizontal axes. The more values at a particular point, the wider the plot is at that point. I'm also using the colors of the plot to quickly identify each team (black = White Sox, blue = Cubs).<br>
                <strong>The swarm plot is the orange dots.</strong> All those dots, each representing a player, should be on the line, where overlapping dots would be hard to see. A swarm plot simply moves them above or below of the center lines so you can see each dot.<br>
                These charts may be a bit hard to grasp at first, but once you get them they're kind of useful. Plus, I'll be turning a few of these into animated gifs at the end of the season so we can see how things changed over time.<br>
                If you want to learn more about these kinds of plots, google the names. There's ample written about them online.</p>
            <br>
        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="batting"><strong>Batting</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#pitchers"><strong style='color:#FF9C00'>PITCHERS</strong></a></small></p>
        <p>I'll only be using non-pitchers in this comparison. I thought about excluding the DH as well, but found that to be far too difficult to figure out since anyone could peform as a DH.</p>
        <br>

        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="pitchers"><strong>Pitchers</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#batters"><strong style='color:#FF9C00'>BATTERS</strong></a></small></p>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4><strong>Win probability added</strong>
                    <br><small>Black = White Sox, Blue = Cubs.</small></h4>
                    <br>
                <p>Top chart is an svg file, bottom is png. Testing for clarity.</p>
                <br>
            </div>
            <div class="col-md-8">
                <img type="image/svg+xml" src="{{ url_for('static', filename='img/WPA.svg') }}" class="img-responsive center-block"><br>
                <img src="{{ url_for('static', filename='img/WPA.png') }}" class="img-responsive center-block"><br>
            </div>
        </div>



    </div>
    </div>
</div>

<br><br>
<script>
$.ajaxSetup({ cache: false});
</script>

{% include 'footer.html' %}
