<!DOCTYPE HTML>
{% include 'header.html' %}

<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">

        <h2 style='width:100%; text-align:center' class='elexhdd' id="top"><strong>Baseball 2018</strong></h2>
            <h2 style='width:100%; text-align:center' class=' titlesmall'>League</h2>
       <p style='width:100%; text-align:center'><i>A little-more-than-casual but not-very-wonky statistical look at the current season</i></p>
            <hr class='fancy'>
            <div class="row">
                <div class="col-xs-3" style='text-align:center'>League</div>
                <div class="col-xs-3" style='text-align:center'><a href="sox.html"><strong style='color:#FF9C00'>Sox</strong></a></div>
                <div class="col-xs-3" style='text-align:center'><a href="cubs.html"><strong style='color:#FF9C00'>Cubs</strong></a></div>
                <div class="col-xs-3" style='text-align:center'><a href="h2h.html"><strong style='color:#FF9C00'>H2H</strong></a></div>
            </div>
            <hr class='fancy'>
            <br>
        <h3><small>Best viewed on a mobile device on a warm evening, sitting in a cheap upper-deck seat with family, friends, a ballpark hot dog and your favorite cold beverage.</small></h3>
            <br>
            <p><strong>Updated {{timestamp}}</strong><br>
                I'm a little concerned to see how roster changes are reflected here. Not sure I want to be too hands on once this gets going. I guess I'll need to figure out how to get the current active roster and filter on that.<br>
                 Going over the available pitching stats, I can see what a rabbit hole this stuff can become. There's almost 300 columns in the stats file! So right now I need to focus on the limited use-case of this app - vital stats for the more casual fan - and filter out the kind of things that appeal to the more intense fans.<br>
                 For the head 2 head page, there's some ready-made plots in the pybaseball package that would allow me to compare a few things, but mostly I'm thinking of violin plots to compare the team players. 
            </p>
            <br>
        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="standings"><strong>Standings</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#visualizations"><strong style='color:#FF9C00'>VISUALIZATIONS</strong></a></small></p>
        <p>Pybaseball gathers these from <a href="https://www.baseball-reference.com/" target="_blank">Baseball-reference.com.</a> Standings are not always updated by the time this page is, and may be slightly out of date.</p>
        <div class="row">
        <div class="col-md-6">
            <!--Begin schedule-->
            <!--Select for League-->
             {% for group in object_list|groupby('League') %}
                {% if group.grouper == "American" %}
                    <hr>
                    <h2 style='width:100%; text-align:center'>{{ group.grouper }} League</h2>

                    <!-- East division -->
                    {% for div in group.list|groupby('Division') %}
                        {% if div.grouper == "East" %}
                            <br>
                            <h4><strong>{{ div.grouper }} Division</strong></h4>
                            <table class='table table-condensed elex'>
                                <thead>
                                <th style="text-align:left">Team</th><th>Wins</th><th>Loses</th><th>W-L %</th><th>GB</th>
                            </thead><tbody>
                                {% for team in div.list|sort(reverse=True, attribute='WLperc') %}
                                        <tr>
                                            <td style="text-align:left">{{ team.Team }}</td>
                                            <td>{{ team.W }}</td>
                                            <td>{{ team.L }}</td>
                                            <td>{{ team.WLperc }}</td>
                                            <td>{{ team.GB }}</td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% endfor %}

                        <!-- Central division -->
                    {% for div in group.list|groupby('Division') %}
                        {% if div.grouper == "Central" %}
                            <br>
                            <h4><strong>{{ div.list[0]['Division'] }} Division</strong></h4>
                            <table class='table table-condensed elex'>
                                <thead>
                                <th style="text-align:left">Team</th><th>Wins</th><th>Loses</th><th>W-L %</th><th>GB</th>
                            </thead><tbody>
                                {% for team in div.list|sort(reverse=True, attribute='WLperc') %}
                                    {% if team.Tm == 'Chicago White Sox' %}
                                        <tr>
                                            <td style="text-align:left"><a href="sox.html"><strong style='color:#FF9C00'>{{ team.Team }}</a></strong></td>
                                            <td>{{ team.W }}</td>
                                            <td>{{ team.L }}</td>
                                            <td>{{ team.WLperc }}</td>
                                            <td>{{ team.GB }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td style="text-align:left">{{ team.Team }}</td>
                                            <td>{{ team.W }}</td>
                                            <td>{{ team.L }}</td>
                                            <td>{{ team.WLperc }}</td>
                                            <td>{{ team.GB }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% endfor %}

                        <!-- West division -->
                    {% for div in group.list|groupby('Division') %}
                        {% if div.grouper == "West" %}
                            <br>
                            <h4><strong>{{ div.list[0]['Division'] }} Division</strong></h4>
                            <table class='table table-condensed elex'>
                                <thead>
                                <th style="text-align:left">Team</th><th>Wins</th><th>Loses</th><th>W-L %</th><th>GB</th>
                            </thead><tbody>
                                {% for team in div.list|sort(reverse=True, attribute='WLperc') %}
                                        <tr>
                                            <td style="text-align:left">{{ team.Team }}</td>
                                            <td>{{ team.W }}</td>
                                            <td>{{ team.L }}</td>
                                            <td>{{ team.WLperc }}</td>
                                            <td>{{ team.GB }}</td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-md-6">
            <!--Begin schedule-->
            <!--Select for League-->
             {% for group in object_list|groupby('League') %}
                {% if group.grouper == "National" %}
                    <hr>
                    <h2 style='width:100%; text-align:center'>{{ group.grouper }} League</h2>
                    
                    <!-- East division -->
                    {% for div in group.list|groupby('Division') %}
                        {% if div.grouper == "East" %}
                            <br>
                            <h4><strong>{{ div.grouper }} Division</strong></h4>
                            <table class='table table-condensed elex'>
                                <thead>
                                <th style="text-align:left">Team</th><th>Wins</th><th>Loses</th><th>W-L %</th><th>GB</th>
                            </thead><tbody>
                                {% for team in div.list|sort(reverse=True, attribute='WLperc') %}
                                        <tr>
                                            <td style="text-align:left">{{ team.Team }}</td>
                                            <td>{{ team.W }}</td>
                                            <td>{{ team.L }}</td>
                                            <td>{{ team.WLperc }}</td>
                                            <td>{{ team.GB }}</td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% endfor %}

                        <!-- Central division -->
                    {% for div in group.list|groupby('Division') %}
                        {% if div.grouper == "Central" %}
                            <br>
                            <h4><strong>{{ div.list[0]['Division'] }} Division</strong></h4>
                            <table class='table table-condensed elex'>
                                <thead>
                                <th style="text-align:left">Team</th><th>Wins</th><th>Loses</th><th>W-L %</th><th>GB</th>
                            </thead><tbody>
                                {% for team in div.list|sort(reverse=True, attribute='WLperc') %}
                                    {% if team.Tm == 'Chicago Cubs' %}
                                        <tr>
                                            <td style="text-align:left"><a href="cubs.html"><strong style='color:#FF9C00'>{{ team.Team }}</a></strong></td>
                                            <td>{{ team.W }}</td>
                                            <td>{{ team.L }}</td>
                                            <td>{{ team.WLperc }}</td>
                                            <td>{{ team.GB }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td style="text-align:left">{{ team.Team }}</td>
                                            <td>{{ team.W }}</td>
                                            <td>{{ team.L }}</td>
                                            <td>{{ team.WLperc }}</td>
                                            <td>{{ team.GB }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% endfor %}

                        <!-- West division -->
                    {% for div in group.list|groupby('Division') %}
                        {% if div.grouper == "West" %}
                            <br>
                            <h4><strong>{{ div.list[0]['Division'] }} Division</strong></h4>
                            <table class='table table-condensed elex'>
                                <thead>
                                <th style="text-align:left">Team</th><th>Wins</th><th>Loses</th><th>W-L %</th><th>GB</th>
                            </thead><tbody>
                                {% for team in div.list|sort(reverse=True, attribute='WLperc') %}
                                        <tr>
                                            <td style="text-align:left">{{ team.Team }}</td>
                                            <td>{{ team.W }}</td>
                                            <td>{{ team.L }}</td>
                                            <td>{{ team.WLperc }}</td>
                                            <td>{{ team.GB }}</td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        </div>
        <!-- end standings -->
        <!-- Begin analysis -->
        <br>
        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="visualizations"><strong>Visualizations</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO  <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#standings"><strong style='color:#FF9C00'>STANDINGS</strong></a></small></p>
        <p>Pybaseball gets these statistics from <a href="https://www.fangraphs.com" target="_blank">fangraphs.com.</a> I'm using <a href="https://github.com/dailyherald/Seaborn" target="_blank"> Seaborn,</a>  a Python visualization library, to create the charts. Seaborn is inspired by ggplot2 in R.</p>
        <p>As far as how I decide what and how I chart, I'm using the highly sophisticated method of "Well that sounds important, I wonder what it would look like if I chart it with this other thing that sounds important." A high bar indeed.</p>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4><strong>Batting average versus Earned Run Average</strong>
                    <br><small>Black = White Sox, Blue = Cubs.</small></h4>
                    <br>
                <p>The classic statistics - obviously a high batting average and a low ERA should equal more wins.</p>
                <p>I don't expect there to be much of a correlation between the two stats, but it's handy to have them accessible in one chart like this.</p>
                <br>
            </div>
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='img/BAvERA.png') }}" class="img-responsive center-block"><br>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4><strong>WAR batting and pitching</strong>
                    <br><small>Black = White Sox, Blue = Cubs.</small></h4>
                    <br>
                <p>Fangraphs describes <a href="https://www.fangraphs.com/library/misc/war/" target="_blank">Wins Above Replacement or WAR</a> as the average number of wins a player is worth compared to what you'd get from an average replacement player. The higher the WAR number, the more valuable a player is.</p>
                <p>After taking a closer look at these stats, the team number is the sum of all WAR stats for each individual player. That means, like with mean (or average) a player with a very high WAR value could skew the total some. I may come back and figure the median WAR for these two measures.</p>
                <br>
            </div>
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='img/WAR.png') }}" class="img-responsive center-block"><br>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4><strong>Weighted On-Base Average and RBIs</strong>
                    <br><small>Black = White Sox, Blue = Cubs.</small></h4>
                    <br>
                <p><a href="https://www.fangraphs.com/library/offense/woba/" target="_blank">Weighted On-Base Average</a> combines batting average, on-base percentage, and slugging percentage, "weighting each of them in proportion to their actual run value" according to fangraphs.com.</p>
                <p>So these two measures should give us a pretty good idea of offensive production, if I think if it in terms of "get 'em on, get 'em over, get 'em in."</p>
                <br>
            </div>
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='img/offense.png') }}" class="img-responsive center-block"><br>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4><strong>FIP and BABIP</strong>
                    <br><small>Black = White Sox, Blue = Cubs.</small></h4>
                    <br>
                <p>These two stats are pretty new to me.</p>
                <p><a href="https://www.fangraphs.com/library/pitching/babip/" target="_blank">Batting Average on Balls In Play (BABIP)</a> measures average batting average allowed based on how often a ball in play goes for a hit. Balls in play don't include home runs. So if the pitcher is giving up a lot of hits their defense can't handle, or if you have a third baseman who doesn't make those tougher plays, the BABIP is higher.</p>
                <p><a href="https://www.fangraphs.com/library/offense/fip/" target="_blank">FIP or Fielding Independent Pitching</a> tries to show a pitcher's ERA correcting for the performance of the fielding around them. According to fangraphs, FIP looks at "their strikeouts, walks, hit batters, and home runs while assuming average luck on balls in play."</p>
                <p>With both of these measures, the lower the better. That should be a challenge given expected home run production this season.</p>
                <br>
            </div>
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='img/defense.png') }}" class="img-responsive center-block"><br>
            </div>
        </div>
                <hr>
        <div class="row">
            <div class="col-md-4">
                <h4><strong>Team home runs</strong>
                    <br><small>Black = White Sox, Blue = Cubs.</small></h4>
                    <br>
                <p>Reports suggest the single-season team home run record may be broken this year so let's track that.</p>
                <p>The vertical red line indicates the current record of 264 by the 1997 Seattle Mariners.</p>
                <br>
            </div>
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='img/HR.png') }}" class="img-responsive center-block"><br>
            </div>
        </div>


    </div>
    </div>
</div>

<br><br>
<script>
$.ajaxSetup({ cache: false});
</script>

{% include 'footer.html' %}
