<!DOCTYPE HTML>
{% include 'header.html' %}

<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">

        <h2 style='width:100%; text-align:center' class='elexhdd' id="top"><strong>Baseball 2018</strong></h2>
            <h2 style='width:100%; text-align:center' class=' titlesmall'>White Sox</h2>
       <p style='width:100%; text-align:center'><i>A little-more-than-casual but not-very-wonky statistical look at the current season</i></p>
            <hr class='fancy'>
            <div class="row">
                <div class="col-xs-3" style='text-align:center'><a href="index.html"><strong style='color:#FF9C00'>League</strong></a></div>
                <div class="col-xs-3" style='text-align:center'>Sox</div>
                <div class="col-xs-3" style='text-align:center'><a href="cubs.html"><strong style='color:#FF9C00'>Cubs</strong></a></div>
                <div class="col-xs-3" style='text-align:center'><a href="h2h.html"><strong style='color:#FF9C00'>H2H</strong></a></div>
            </div>
            <hr class='fancy'>
            <br>
            <h3 style='width:100%; text-align:center' ><small>Plenty of seats available to watch the kids learn how to play in the big league.</small></h3><br>
            <p style='width:100%; text-align:center' ><strong>Updated {{timestamp}}</strong> Pybaseball gathers these from <a href="https://www.baseball-reference.com/" target="_blank">Baseball-reference.com.</a></p>
            <br>
        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="games"><strong>Games</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#batters"><strong style='color:#FF9C00'>BATTERS</strong></a> | <a href="#pitchers"><strong style='color:#FF9C00'>PITCHERS</strong></a></small></p>
        <p><strong>On {{ nl[0].Date }},</strong> the Sox {% if nl[0].WL == 'W' %}won a{% elif nl[0].WL == 'W-wo' %}won with a walk-off in a{% elif nl[0].WL == 'L' %}lost a{% elif nl[0].WL == 'L-wo' %}lost after a walk off in a{% endif %} {% if nl[0].DN == 'D' %}day{% else %}night{% endif %} game {% if nl[0].Home_Away == '@' %}at{% else %}at home against{% endif %} the {{ nl[0].Team }}, {{ nl[0].R }} to {{ nl[0].RA }}, in {{ nl[0].Inn }} innings. The winning pitcher was {{ nl[0].Win }}, losing pitcher was {{ nl[0].Loss }}. Save: {{ nl[0].Save }}. <strong>Next scheduled game:</strong> {{ nl[1].Date }}, a {% if nl[1].DN == 'D' %}day{% else %}night{% endif %} game {% if nl[1].Home_Away == '@' %}at{% else %}at home with{% endif %} the {{ nl[1].Team }}.</p>
        <br>
        <h3 style='width:100%; text-align:center'>Summary results by team</h3>
        <br>
        <table class='table table-condensed elex'>
            <thead>
            <th style="text-align:left">Team</th><th>Wins</th><th>Loses</th><th>Avg. Sox runs</th><th>Avg. runs against</th>
        </thead><tbody>
            {% for team in agg|sort(attribute='Team') %}
                    <tr>
                        <td style="text-align:left">{{ team.Team }}</td>
                        <td>{{ team.Wins }}</td>
                        <td>{{ team.Loses }}</td>
                        <td>{{ team.AvgRuns }}</td>
                        <td>{{ team.AvgRunsAg }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        <!-- End games, start batting stats -->
        <div class="row">
        <div class="col-md-6">

        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="batters"><strong>Batters</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#games"><strong style='color:#FF9C00'>GAMES</strong></a> | <a href="#pitchers"><strong style='color:#FF9C00'>PITCHERS</strong></a></small></p>
        <p>Click the link under a player's name to get up-to-speed on a player at bat.</p>

        <div class="panel-group" id="hitaccordion" role="tablist" aria-multiselectable="true">

        {% for name in hit|sort(attribute='lastname') %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="hit{{ name.lastname }}{{ name.posnum }}">
              <h4 class="panel-title">
                <strong>{{ name.Name }}</strong> <small>#{{ name.posnum }}, {{ name.position }}</small>
              </h4>
              <p><a class="collapsed" role="button" data-toggle="collapse" data-parent="#hitaccordion" href="#hitcollapse{{ name.lastname }}{{ name.posnum }}" aria-expanded="false" aria-controls="hitcollapse{{ name.lastname }}{{ name.posnum }}"><small>CLICK HERE FOR MORE</small></a></p>

            </div>
            <div id="hitcollapse{{ name.lastname }}{{ name.posnum }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ name.lastname }}{{ name.posnum }}">
              <div class="panel-body">
                <table class='table table table-condensed table-striped'>
                    <tbody>
                        <tr><td class='tdLEFT'>Status (A = active)</td><td>{{name.status_code}}</td></tr>
                        <tr><td class='tdLEFT'>Bats/Throws</td><td>{{ name.bats }}/{{ name.throws }}</td></tr>
                        <tr><td class='tdLEFT'>At bats</td><td>{{ name.AB }}</td></tr>
                        <tr><td class='tdLEFT'>Hits</td><td>{{ name.H }}</td></tr>
                        <tr><td class='tdLEFT'>Home runs</td><td>{{ name.HR }}</td></tr>
                        <tr><td class='tdLEFT'>Batting Avg.</td><td>{{ name.AVG }}</td></tr>
                    </tbody>
                </table>
                <img src="static/img/sox{{ name.lastname|string }}{{ name.posnum|string }}.png" class="img-responsive center-block"><br>
                 <table class='table table table-condensed table-striped'>
                    <tbody>
                        <tr><td class='tdLEFT'>Runs</td><td>{{ name.R }}</td></tr>
                        <tr><td class='tdLEFT'>RBI</td><td>{{ name.RBI }}</td></tr>
                        <tr><td class='tdLEFT'>On-base percent</td><td>{{ name.OBP }}</td></tr>
                        <tr><td class='tdLEFT'>Weighted OBP</td><td>{{ name.wOBA }}</td></tr>
                        <tr><td class='tdLEFT'>Slugging %</td><td>{{ name.SLG }}</td></tr>
                        <tr><td class='tdLEFT'>Stolen bases</td><td>{{ name.SB }}</td></tr>
                        <tr><td class='tdLEFT'>Caught stealing</td><td>{{ name.CS }}</td></tr>
                    </tbody>
                </table>
                <p><strong>Other measures</strong></p>
                 <table class='table table table-condensed table-striped'>
                    <tbody>
                        <tr><td class='tdLEFT'>Weighted runs above avg.</td><td>{{ name.wRAA }}</td></tr>
                        <tr><td class='tdLEFT'>Runs Above Replacement</td><td>{{ name.RAR }}</td></tr>
                        <tr><td class='tdLEFT'>Fielding %</td><td>{{ name.Fld }}</td></tr>
                        <tr><td class='tdLEFT'>WAR</td><td>{{ name.WAR }}</td></tr>
                     </tbody>
                </table>

              </div>
            </div>
          </div>

        {% endfor %}
        </div>
        <br>

        <!-- End battingstats, start pitching stats -->
        </div>
        <div class="col-md-6">

        <hr class='fancy'>
        <br>
        <h2 style='width:100%; text-align:center' id="pitchers"><strong>Pitchers</strong></h2>
        <p style='width:100%; text-align:center' ><small>JUMP TO <a href="#top"><strong style='color:#FF9C00'>TOP</strong></a> | <a href="#games"><strong style='color:#FF9C00'>GAMES</strong></a> | <a href="#batters"><strong style='color:#FF9C00'>BATTERS</strong></a></small></p>
        <p>Click the link under a player's name to get acquainted with who's on the mound. <small><a href="https://www.fangraphs.com/library/pitching/complete-list-pitching/" target="_blank">Click here</a> for a description of these stats and more.</small></p>


        <div class="panel-group" id="pitchaccordion" role="tablist" aria-multiselectable="true">

        {% for toss in pitch|sort(attribute='lastname') %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pitch{{ toss.lastname }}{{ toss.posnum }}">
              <h4 class="panel-title">
                <strong>{{ toss.Name }}</strong> <small>#{{ toss.posnum }}, {{ toss.position }}</small>
              </h4>
              <p><a class="collapsed" role="button" data-toggle="collapse" data-parent="#pitchaccordion" href="#pitchcollapse{{ toss.lastname }}{{ toss.posnum }}" aria-expanded="false" aria-controls="pitchcollapse{{ toss.lastname }}{{ toss.posnum }}"><small>CLICK HERE FOR MORE</small></a></p>

            </div>
            <div id="pitchcollapse{{ toss.lastname }}{{ toss.posnum }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ toss.lastname }}{{ toss.posnum }}">
              <div class="panel-body">
                <table class='table table table-condensed table-striped'>
                    <tbody>
                        <tr><td class='tdLEFT'>Status (A = active)</td><td>{{toss.status_code}}</td></tr>
                        <tr><td class='tdLEFT'>Bats/Throws</td><td>{{ toss.bats }}/{{ toss.throws }}</td></tr>
                        <tr><td class='tdLEFT'>Wins</td><td>{{ toss.W }}</td></tr>
                        <tr><td class='tdLEFT'>Losses</td><td>{{ toss.L }}</td></tr>
                        <tr><td class='tdLEFT'>ERA</td><td>{{ toss.ERA }}</td></tr>
                        <tr><td class='tdLEFT'>Caught stealing</td><td>{{ toss.GS }}</td></tr>
                        <tr><td class='tdLEFT'>Complete games</td><td>{{ toss.CG }}</td></tr>
                        <tr><td class='tdLEFT'>Shutouts</td><td>{{ toss.ShO }}</td></tr>
                        <tr><td class='tdLEFT'>Saves</td><td>{{ toss.SV }}</td></tr>
                        <tr><td class='tdLEFT'>Blown saves</td><td>{{ toss.BS }}</td></tr>
                        <tr><td class='tdLEFT'>Average innings pitched</td><td>{{ toss.avgIP }}</td></tr>
                        <tr><td class='tdLEFT'>Hits</td><td>{{ toss.H }}</td></tr>
                        <tr><td class='tdLEFT'>Runs</td><td>{{ toss.R }}</td></tr>
                        <tr><td class='tdLEFT'>Earned runs</td><td>{{ toss.ER }}</td></tr>
                        <tr><td class='tdLEFT'>Home runs</td><td>{{ toss.HR }}</td></tr>
                        <tr><td class='tdLEFT'>Walks</td><td>{{ toss.BB }}</td></tr>
                        <tr><td class='tdLEFT'>Hit batters</td><td>{{ toss.HBP }}</td></tr>
                        <tr><td class='tdLEFT'>Balks</td><td>{{ toss.BK }}</td></tr>
                        <tr><td class='tdLEFT'>Strike outs</td><td>{{ toss.SO }}</td></tr>
                        <tr><td class='tdLEFT'>Balls</td><td>{{ toss.Balls }}</td></tr>
                        <tr><td class='tdLEFT'>Strikes</td><td>{{ toss.Strikes }}</td></tr>
                        <tr><td class='tdLEFT'>Pitches</td><td>{{ toss.Pitches }}</td></tr>
                        <tr><td class='tdLEFT'>Strikeouts per 9 innings</td><td>{{ toss.K9}}</td></tr>
                        <tr><td class='tdLEFT'>Walks per 9 innings</td><td>{{ toss.BB9}}</td></tr>
                        <tr><td class='tdLEFT'>Percent strikeouts</td><td>{{ toss.Kperc}}</td></tr>
                        <tr><td class='tdLEFT'>Percent walks</td><td>{{ toss.BBperc}}</td></tr>
                        <tr><td class='tdLEFT'>Percent left on base</td><td>{{ toss.LOBperc}}</td></tr>
                        <tr><td class='tdLEFT'>Percent first pitch strike</td><td>{{ toss.FStrikeperc}}</td></tr>
                    </tbody>
                </table>
                <p><strong>Pitch types</strong></p>
                 <table class='table table table-condensed table-striped'>
                    <tbody>
                        <tr><td class='tdLEFT'>Four Seam and Unclassified Fastballs</td><td>{{ toss.FAperc}}</td></tr>
                        <tr><td class='tdLEFT'>Two Seam Fastballs</td><td>{{ toss.FTperc}}</td></tr>
                        <tr><td class='tdLEFT'>Cutters</td><td>{{ toss.FCperc}}</td></tr>
                        <tr><td class='tdLEFT'>Split Fingers</td><td>{{ toss.FSperc}}</td></tr>
                        <tr><td class='tdLEFT'>Forkballs</td><td>{{ toss.FOperc}}</td></tr>
                        <tr><td class='tdLEFT'>Sinkers</td><td>{{ toss.SIperc}}</td></tr>
                        <tr><td class='tdLEFT'>Sliders</td><td>{{ toss.SLperc}}</td></tr>
                        <tr><td class='tdLEFT'>Curveballs</td><td>{{ toss.CUperc}}</td></tr>
                        <tr><td class='tdLEFT'>Knuckle-Curves</td><td>{{ toss.KCperc}}</td></tr>
                        <tr><td class='tdLEFT'>Ephesuses - really slow ball</td><td>{{ toss.EPperc}}</td></tr>
                        <tr><td class='tdLEFT'>Changeups</td><td>{{ toss.CHperc}}</td></tr>
                        <tr><td class='tdLEFT'>Screwballs</td><td>{{ toss.SCperc}}</td></tr>
                        <tr><td class='tdLEFT'>Knuckleballs</td><td>{{ toss.KNperc}}</td></tr>
                        <tr><td class='tdLEFT'>Unknowns</td><td>{{ toss.UNperc}}</td></tr>
                        <tr><td class='tdLEFT'>Wild pitches</td><td>{{ toss.WP }}</td></tr>
                    </tbody>
                </table>
                <p><strong>Other measures</strong></p>
                 <table class='table table table-condensed table-striped'>
                    <tbody>
                        <tr><td class='tdLEFT'>Avg. run support</td><td>{{ toss.RS }}</td></tr>
                        <tr><td class='tdLEFT'>Opponents batting average</td><td>{{ toss.AVG }}</td></tr>
                        <tr><td class='tdLEFT'>Walks, hits per inning (WHIP)</td><td>{{ toss.WHIP }}</td></tr>
                        <tr><td class='tdLEFT'>Batting avg. on balls in play</td><td>{{ toss.BABIP }}</td></tr>
                        <tr><td class='tdLEFT'>Fielding independent pitching</td><td>{{ toss.FIP }}</td></tr>
                        <tr><td class='tdLEFT'>Win probability added (WPA)</td><td>{{ toss.WPA }}</td></tr>
                        <tr><td class='tdLEFT'>Runs above replacement</td><td>{{ toss.RAR }}</td></tr>
                        <tr><td class='tdLEFT'>WAR</td><td>{{ toss.WAR }}</td></tr>
                    </tbody>
                </table>

              </div>
            </div>
          </div>

        {% endfor %}
        </div>
        <br>


    </div>
</div>


        </div>
    </div>
</div>

<br><br>
<script>
$.ajaxSetup({ cache: false});
</script>

{% include 'footer.html' %}
